<header class="p-3 mb-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a href="{% url 'home_page' %}" class="nav-link px-2 text-secondary">Главная</a>
          </li>
          {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'create_article_page' %}" class="nav-link px-2 text-secondary">Создание новой статьи</a>
                </li>
                <li>
                    <a href="{% url 'list_recipe' %}" class="nav-link px-2 text-secondary">Список рецептов</a>
                </li>
            {% endif %}
        </ul>

        {% include 'search/search-form.html' %}

        <div class="text-end">
          {% if not request.user.is_authenticated %}
              <a class="btn btn-outline-light me-2"
                 href="{% url 'login_page' %}">Войти</a>
              <a class="btn btn-outline-light me-2"
                 href="{% url 'registration_page' %}">Зарегистрироваться</a>
          {% else %}
              <a class="btn btn-outline-light me-2"
                 href="{% url 'logout_page' %}">Выйти</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>