{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
</head>
<body>
    <div>
        <ul>
            <li>
                <a href="{% url 'home_page' %}">Главная</a>
            </li>
            {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'create_article_page' %}">Создание новой статьи</a>
                </li>
                <li>
                    <a href="{% url 'list_recipe' %}">Список рецептов</a>
                </li>
                <li>
                    <a href="{% url 'logout_page' %}">Выйти из аккаунта</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login_page' %}">Вход в аккаунт</a>
                </li>
                <li>
                    <a href="{% url 'registration_page' %}">Зарегистрироваться</a>
                </li>
            {% endif %}
            <li>
                {% include 'search/search-form.html' %}
            </li>
        </ul>
    </div>
    {% block content %}
        {% if obj_is_none %}
            <h1>Такой страницы нет!</h1>
        {% endif %}
    {% endblock %}
</body>
</html>