<h1>{{ object.name }}</h1>
<p>{{ object.publish }} | {{ object.update }}</p>
<p>{{ object.description }}</p>
{% for object_ingredient in object.get_ingredients %}
    <p>{{object_ingredient.name}}</p>
    <p>{{object_ingredient.quantity}} - {{object_ingredient.unit}}</p>
    <p>{{object_ingredient.as_mks}}</p>
    <p>{{object_ingredient.as_imperial}}</p>
{% endfor %}
<a href="{{ object.get_delete_url }}"
   hx-post="{{ object.get_delete_url }}"
   hx-confirm="Ты действительно хочешь удалить {{ object.name }}"
   hx-trigger="click">Удалить рецепт</a>
<a href="{{ object.get_update_url }}">Редактировать рецепт</a>